@page "/Inventory"
@using ApiServices
@using Items
@inject ItemService ItemService;

<PageTitle>Inventory</PageTitle>

<h1>This will be a players items, bank, etc</h1>

@code{

private ItemResponse? item; 
    //all the items in their bank
    List<ItemResponse> bank_items = new List<ItemResponse>();
    
    //eventually the string/key should be a "character" object
    //for now we'll just use the name via string until we make that
    Dictionary<string, List<ItemResponse>> character_inventories = new Dictionary<string, List<ItemResponse>>();

     protected override async Task OnInitializedAsync()
    {
        // I wish I had twilight.....;w;
        
        item = await ItemService.GetItemAsync(id:30704);
        //test_item = await ItemService.GetItemAsync(id: 30704);
        // link to the object https://api.guildwars2.com/v2/items/30704
        //this should initialize the player's items across their account
        //need to get those API endpoints 
   
    }   
}